.header-box{
  height: 60px;
  background-color: #232C33;

}

.header-text{
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: white;//#DADFF7;
  text-transform: uppercase;
}

.app{
  //background-color: #B5B2C2;  
}
.container {
  display: flex;
  justify-content: center;
}

.joystick{
  padding-top: 100px;
}