.header-box{
  height: 60px;
  background-color: #232C33;

}

.header-text{
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: white;//#DADFF7;
  text-transform: uppercase;
}

.app{
  //background-color: #B5B2C2;  
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.joystick{
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.stream{
margin-top: 15px;
width: 80%;
//height: auto; //TODO: Add when livestream is ready
height: 200px; //TODO: Remove when livestream is ready
}